dash
dash-bootstrap-components
Flask
Flask-Login
Flask-SQLAlchemy
yahooquery
pandas
numpy
ta
plotly
joblib
gunicorn

Flask
Flask-Login
dash
dash-bootstrap-components
yahooquery
pandas
numpy
ta
joblib
